<section class="consultar__estacion">
  <h2>consultar estacion</h2>
  <div class="consultar__estacion--container">
    <label for="opciones_zona">Selecciones una Zona: </label>
    <select id="opciones_zona" name="Zona">
      <option value="">Escoja una Zona</option>
      <option value="opcion1">Zona 1</option>
      <option value="opcion2">Zona 2</option>
      <option value="opcion3">Zona 3</option>
      <option value="opcion4">Zona 4</option>
    </select>
  </div>
  <div class="consultar__estacion--container">
    <label for="opciones_zona">Selecciones una Estacion: </label>
    <select id="opciones_estacion" name="Zona">
      <option value="">Escoja una Estacion</option>
      <option value="opcion1">Estacion 1</option>
      <option value="opcion2">Estacion 2</option>
      <option value="opcion3">Estacion 3</option>
      <option value="opcion4">Estacion 4</option>
    </select>
  </div>
  <div class="crear_estacion--bottom">
    <button class="consultar__estacion--enviar">Enviar</button>
  </div>
</section>
