.home_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background: rgb(115, 96, 96);
    background: linear-gradient(87deg, rgba(115, 96, 96, 1) 0%, rgba(14, 9, 0, 1) 61%, rgba(115, 96, 96, 1) 100%);
  }
  &--menu{
    background: url("../img/icon-menu.svg");
    width: 40px;
    height: 40px;
    background-size: cover;
    z-index: 99;
    position: absolute;
    right: 5px;
    display: none;
  }
  &--titulo {
    color: #FFFFFF;
    font-family: 'Faustina', serif;
    font-weight: 900;
    font-size: 40px;
    &::before {
      content: "";
      width: 20%;
      height: 2px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      top: 30px;
      transform: translateX(330px);

    }

    &::after {
      content: "";
      width: 20%;
      height: 2px;
      background-color: #ffffff;
      display: block;
      position: absolute;
      top: 30px;
      transform: translateX(-279px);

    }
  }
  .home_menu {

    &--nav {
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;
    }

    &--container {
      background-color: #ffffff;
      height: 40px;
      width: 100%;
      box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
      -webkit-box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
      -moz-box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      a {
        color: #000000;
        text-decoration: none;
        font-family: 'Faustina', serif;
        font-weight: 400;
        font-size: 20px;
        width: 200px;
        transition: 300ms;

        &:hover {
          transition: 300ms;
          font-size: 25px;
        }
      }

      .active-link {
        font-size: 25px;
        font-weight: 600;
      }
    }
  }

}
@media screen and (max-width: 768px) {
  .home_header {
    top: 0;
    margin: auto;
    &--titulo {
      font-size: 30px;
      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
    &--menu{
      display: block;
      cursor: pointer;
    }
    .home_menu {

      &--nav {
        flex-direction: column;
      }
      &--container {
        height: 120px;
        right: 0px;
        top: 60px;
        background: #FFF;

        a {
          font-size: 15px;
          border-bottom: 1px solid #929090;
          text-align: center;
          &:hover {
            font-size: 20px;
          }
        }

        .active-link {
          font-size: 20px;
        }
      }
    }

  }
}
