.nav-tabs{
  width: calc(100% - 90px);
  margin: 15px auto;
  margin-bottom: 0;
  .nav-item{
    .nav-link {
      color: black;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

      &.active{
        font-weight: bold;
        color: #4979e2;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        margin-top: -6px;
        height: 48px;
      }
      cursor: pointer;
    }
  }
}

.consultar__rutas{
  //background-image: url('../img/app.jpeg');
  width: calc(100% - 70px);
  min-height: 433px;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 0px;
  border-radius: 10px;
  box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
  &--container{
    position: relative;
    .estacion{
      &__buscador{
        margin-left: 10px;
        float: right;
        &--result-container{
          box-shadow: 0px 10px 16px -4px rgba(0, 0, 0, 0.44);
          width: 189px;
          position: absolute;
          top: 30px;
          z-index: 1;
          background: #fff;
          right: 0;
          padding: 0;
          margin: 0;
        }
        &--resultados{
          margin: 0;
          padding: 0;
        }
        &--estaciones{
          list-style: none;
          cursor: pointer;
          padding-top: 3px;
          border-bottom: 1px solid #4949493b;
          text-align: center;
          &:hover{
            background: #0d6efd;
            color: #FFFFFF;
          }
        }
      }
    }
    margin-bottom: 30px;
    select {
      margin-left: 10px;
    }
  }
  &--enviar{
    width: 100px;
    height: 27px;
    border-radius: 15px;
    background: #ff7070;
    color: #FFFFFF;
    border: none;
    font-family: "faustina";
    font-weight: 900;
  }
}
@media screen and (max-width: 768px) {
  .nav-tabs{
    display: flex;
    flex-direction: column;
  }
  .consultar__rutas{
    //background-image: url('../img/app.jpeg');
    width: calc(100% - 70px);
    min-height: 433px;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -1px 3px 19px 2px rgba(0, 0, 0, 0.44);
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
    &--container{
      display: flex;
      flex-direction: column;
    }
    &--enviar{
      width: 100px;
      height: 27px;
      margin-top: 50px;
      border-radius: 15px;
      background: #ff7070;
      color: #FFFFFF;
      border: none;
      font-family: "faustina";
      font-weight: 900;
    }
  }
}

