
<section class="consultar__evento">
  <h2>consultar evento</h2>
  <div class="consultar__evento--container">
    <label for="opciones_zona">Selecciones una Zona: </label>
    <select id="opciones_zona" name="Zona">
      <option value="">Escoja una Zona</option>
      <option value="opcion1">Zona 1</option>
      <option value="opcion2">Zona 2</option>
      <option value="opcion3">Zona 3</option>
      <option value="opcion4">Zona 4</option>
    </select>
  </div>
  <div class="crear_evento--bottom">
    <button class="consultar__evento--enviar">Enviar</button>
  </div>
</section>
