
<section class="consultar__evento">
  <form (ngSubmit)="enviarConsultaevento()">
    <h2>consultar evento</h2>
    <div class="consultar__evento--container">
      <label for="opciones_zona">Seleccione una Zona: </label>
      <select id="zona" name="Zona" [(ngModel)]="seleccion">
        <option value="">Escoja una Zona</option>
        <option *ngFor="let opcion of Zona" [value]="opcion.idZona">{{ opcion.nombre }}</option>
      </select>
    </div>
    <div class="consultar__evento--bottom">
      <button class="consultar__evento--enviar">Enviar</button>
    </div>
  </form>
  <div *ngIf="estacion && evento" class="consultar__evento--resultado">
    <div class="consultar__evento--card card">
      <div *ngIf="estacion" class="consultar__evento--cardTitulo card-header">Estacion: {{ estacion?.nombre }}</div>
      <div *ngIf="evento" class="consultar__evento--cardtext card-body text-primary">
        <h5 class="card-title">
          Estado: {{ evento?.estado ? 'Cerrado' : 'Abierto' }} <br>
          motivo: {{ evento?.idTipoEvento}}
        </h5>
        <span [style.background-color]="evento?.estado ? 'red' : 'green'"></span>
      </div>
    </div>
  </div>
</section>
