.home{
  &_consultar{
    background-image: url('../img/app.jpeg');
    width: calc(100% - 70px);
    height: 433px;
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
  }
}
