<section class="consultar">
  <div routerLink="/consultar-evento" class="consultar__container evento__consultar">
    <span class="consultar--link">Consultar Evenetos</span>
  </div>
  <div routerLink="/consultar-zona"class="consultar__container zona__consultar">
    <span  class="consultar--link">Consultar zonas</span>
  </div>
  <div routerLink="/consultar-ruta" class="consultar__container ruta__consultar">
    <span class="consultar--link">Consultar rutas</span>
  </div>
  <div routerLink="/consultar-estacion" class="consultar__container estacione__consultar">
    <span class="consultar--link">Consultar estaciones</span>
  </div>
</section>

